GCP_PROJECT_ID=gallery-app-457314
PENDING_BUCKET=gallery-app-457314-artwork-pending
APPROVED_BUCKET=gallery-app-457314-artwork-approved
ARTWORK_DATABASE_ID=artwork
GALLERY_ORIGIN=https://patrick.tolan.ie
SUBMITTER_EMAIL=patrick@example.com
REVIEWER_EMAIL=parent@example.com
PORT=8080
